
.markers {
    top: 10px;
    left: 10px;
    bottom: 120px;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
}

.marker {
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 4px;
    position: relative;
    border-radius: 16px;
    background-color: white;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
    pointer-events: auto;
}

.marker:hover,
.marker.is-current {
    opacity: 1;
}

.marker::before {
    inset: -4px;
    width: 40px;
    height: 40px;
    content: "";
    z-index: 20;
    position: absolute;
    background: var(--var-radial), var(--var-conic);
    border-radius: 20px;
}

.marker .marker-color {
    width: 24px;
    height: 24px;
    z-index: 30;
    position: relative;
    border-radius: 12px;
}