
.studio-bar {
    left: 20px;
    bottom: 20px;
    display: flex;
    gap: 2px;
    padding: 3px;
    z-index: 999;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 0.15);
    background-color: rgb(255 255 255 / 0.5);
    border-radius: 5px;
    pointer-events: auto;
    transition: background-color 200ms ease-in-out;
}

.studio-bar:hover,
.studio-bar.is-active {
    background-color: rgb(255 255 255 / 1.0);
}

.studio-bar button {
    color: rgb(0 0 0 / 0.5);
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 0.0);
    outline: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
    pointer-events: auto;
    border-radius: 3px;
}

.studio-bar .btn-separator {
    width: 1px;
    height: 32px;
    display: block;
    margin: 0 5px;
    background-color: rgb(0 0 0 / 0.2);
}

.studio-bar button svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.studio-bar button svg:not(.icons-tabler-outline) {
    fill: currentColor;
}

.studio-bar button svg.icons-tabler-outline {
    fill: none;
    stroke: currentColor;
}

.studio-bar:hover button,
.studio-bar.is-active button {
    color: rgb(0 0 0 / 1.0);
}

.studio-bar button:hover {
    color: rgb(var(--primary-color));
    background-color: rgb(0 0 0 / 0.1);
}

.studio-bar button.btn-danger:hover {
    color: rgb(var(--danger-color));
    background-color: rgb(0 0 0 / 0.1);
}

.studio-bar button.btn-danger:hover {
    color: rgb(var(--danger-color));
    background-color: rgb(0 0 0 / 0.1);
}

.studio-bar.is-recording button.btn-danger {
    color: rgb(var(--danger-color));
    background-color: rgb(var(--danger-color) / 0.1);
}

.studio-bar.is-recording button.btn-danger:hover {
    color: rgb(255 255 255);
    background-color: rgb(var(--danger-color));
}