
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #101214;
}

body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

canvas {
    margin: auto;
    display: block;
}

#app {
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    overflow: hidden;
    position: fixed;
    pointer-events: none;
}
